<% layout('layout2') %>



<div id="wrapper">

    <% include ../partials/sidebar %>

    <div id="page-content-wrapper">

        <div class="container-fluid main_body">
			<div class="ul_links">
	            <ul>
	                <li><a href="/">Home</a></li> |
	                <li><a href="/company/companies">All Companies</a></li>
	            </ul>
	        </div>

            <div class="bodyDiv">
				<h4 style="">LeaderBoard</h4>

				<div class="row">
					<% for(var i = 0; i < companies.length; i++) {%>
						<% var index = _.indexOf(companies,companies[i]) %>
					<div class="col-xs-12 col-md-6 col-lg-4 companyListDiv">
                        <a href="/company/company-profile/<%= companies[i]._id %>">
	                            <img src="<%= companies[i].image %>" class="companyListItemLogo">

	                            <div class="companyListItemInfo ml-5">
	                                <h5 class=""><%= companies[i].name %></h5>
	                                <span class="">
	                                   <%= companies[i].ratingSum %> Total Stars
	                                </span><br>
									<h5>#<%= index + 1 %></h5>
	                            </div>

	                        </a>
                    </div>
				<% } %>
				</div>
            </div>

        </div>
    </div>

</div>


